<h1>All Books</h1>

  <% @books.each do |book| %>
    <section id= 'book-<%= book.id %>'>
      <h3>Title: <%= book.title %></h3>
      <p>Author: <%= book.author.name %></p>
      <p>Pages: <%= book.pages %></p>
      <p>Publication Year: <%= book.publication_year %></p>
    </section>
    <br>
  <% end %>
